body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom-right, #f0f0f0, #000000);
    margin: 0;
    padding: 2rem 4rem;

}

p{
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 20px;
}

ul{
    list-style: none;
    padding: 0;
}


@media (max-width: 768px) {
    body{
        padding: 1rem;
    }
}

@media (max-width: 800px) and (min-width: 769px) {
    .project-item{
        width: calc(50% - 4rem - 2rem); /* 2 items per row with gap */
    }
}