
.projects-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#project-list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
}

.project-item{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2rem;
    width: calc(33.333% - 4rem - 2rem); /* 3 items per row with gap */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project-topics {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.topic-badge{
    padding: 0.5rem;
    border-radius: 1rem;

    word-break:keep-all;
    white-space: nowrap;       /* Prevent wrapping */
    overflow: hidden;          /* Hide overflow */
    text-overflow: ellipsis;   /* Show "..." at the end */
    max-width: 10rem;
}
.topic-badge:nth-child(n+4) {
    display: none;
}

.filter-holder {
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
    gap: 1rem;
}

.filter-holder #search-input {
    width: 100%;
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    border: 0.5rem solid #ddd;
    font-size: 0.95rem;
    outline: none;
    transition: border-color 0.2s ease;
}

.filter-holder #search-input:focus {
    border-color: #888;
}


.project-item h3{
    margin-top: 0;
    color: #007BFF;
}
.project-item p{
    color: #555;
    height: 4.5rem;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; 
    overflow: hidden;

}
.project-item img{
    width: 20rem;
    height: 15rem;
    object-fit: cover;
    max-width: 100%;

    border-radius: 4px;
    margin-top: 1rem;

    filter: grayscale(100%);
}

.project-item a{
    text-decoration: none;
    color: inherit;

    
}

.project-item a:hover {

    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    

    p{
        color: #333;
        transition: color 0.3s ease;
    }

    h3{
        color: #0056b3;
        transition: color 0.3s ease;
    }

    img{
        transform: scale(1.05);
        transition: transform 0.3s ease;

        filter: grayscale(0);
        transition: filter 0.3s ease;
    }
    
}

@media (max-width: 768px) {
    .project-item{
        width: 95%;
    }
    .topic-badge{
        max-width: 5rem;

    }
    .topic-badge:nth-child(n+3) {
        display: none;
    }

    .filter-holder{
        padding: 0.2rem;
        margin:0;
    }
    #language-filter{
        padding: 0.2rem;
    }
}



@media (max-width: 800px) and (min-width: 769px) {
    .project-item{
        width: calc(50% - 4rem - 2rem); /* 2 items per row with gap */
    }
}